@page
@model Inventory.Pages.Dogs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}



<h3 style="margin-top:5%; margin-bottom:5%">Are you sure you want to Send @Html.DisplayFor(model => model.Dog.Name) Away?</h3>
<div>
    <hr />
    <dl class="row" style="margin-bottom:5%">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.BreedID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.BreedID)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.KennelID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.KennelID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.Pedigree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.Pedigree)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Dog.ID" />
        <input type="submit" value="Send to Farm" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
