@page
@model Inventory.Pages.Dogs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.MotherID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.MotherID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.FatherID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.FatherID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.KennelID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.KennelID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.Pedigree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.Pedigree)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Dog.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
